node_modules/
dist/
dist-ssr/
.env
*.mp4
*.avi
*.mov
/tmp/
.DS_Store
coverage/
*.log
output/
*.local
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
